@{
	ViewData["Title"] = "About";
	ViewData["Message"] = "Hello";
	ViewData["id"]= 410316148;
	ViewData["time"]= DateTime.Now;
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<h3>@ViewData["id"]</h3>
<h3>@ViewData["time"]</h3>
<p>Use this area to provide additional information.</p>
